@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@media screen and (orientation: portrait) {

.progress {
    width: 320px;
    height: 568px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.progress__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 16%;
    margin-left: 25%;
    margin-right: 25%;
}

.circle_graph {
    margin-top: 10%;
}

}

@media screen and (orientation: landscape) {

.progress {
    width: 568px;
    height: 320px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.progress {
    display: flex;
}

.progress__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.circle_graph {
    margin-top: 0%;
}

.progress__gpraph {
    margin-right: 70px;
}

}



.wrapper-progress {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data_value {
    width: 52px;
    height: 34px;
    border-radius: 23px;
    border: 2px solid black;
    text-align: center;
}

.value {
    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 34px;
    margin-right: 20px;
}

.switch__input {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(212, 220, 228);
    border-radius: 23px;
}

.switch__slider::before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 3px;
    bottom: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.switch__input:checked + .switch__slider {
    background-color: #005CFF;
}

.switch__input:checked + .switch__slider::before {
    transform: translateX(18px);
}
.circle {
    transition: all 1s ease-out
}

.circle_graph {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress__gpraph {
    width: 200px;
    height: 200px;
    fill: none;
    stroke: #005CFF;
    stroke-width: 10px;
    stroke-dasharray: 377px;
    stroke-dashoffset: calc(377 - (377 * 60) / 100);
    transform: rotate(270deg);
}

.animate {
    animation: rotate 12s ease-in-out infinite  normal;
}

@keyframes rotate {
    25%{
        transform: rotate(330deg);
    }
    50%{
        transform: rotate(430deg);
    }
    75%{
        transform: rotate(530deg);
    }
    100%{
        transform: rotate(630deg);
    }
}

.position_block {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}
